<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% if flash[:notice] %>
<% flash[:notice].each do |note| %>
    <p id="notice"><%= note %></p>  
    <% end %>
    <% end %>
<h4>Here are the organizations you may join:</h4>
<div class = "align-top d-inline-flex row">
  <div class = "d-inline-block col">
    <% if @groups %>
      <% @groups.each do |q| %>
        <div class = "bg-light d-inline-block font-weight-bold border rounded-lg align-top m-1">
        <a href="/groups/<%= q.id %>"><%= q.name %></a>
        <p>Members:<%= q.users_joined.length %></p>
        <p><%= q.description %>
        <% if q.user == current_user %>
          <br> <a href="/groups/<%= q.id %>" data-method="delete">Delete Group</a></p>
        <% end %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class = "d-inline-block col-4">
    <h3>Create a new organization:</h3>
    <form action="/groups/new" method="post">
    <input type="hidden" name="authenticity_token" value = "<%=form_authenticity_token%>">
    <p>Org. Name:</p>
    <input type="text" name="group[name]"/>
    <p>Description:</p>
    <input type="text" name="group[description]"/>
    <br>
    <input type="submit" value="Create"/>
    </form>
  </div>
</div>